*{
    margin: 0px;
    box-sizing: border-box;
}

#icon {
    height: 20px;
    width: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: rgba(51, 51, 51, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    font-size: 0.9rem;
    padding: 0.5rem;
    padding-left: 10vw;
    padding-right: 10vw;
    position: fixed;
    top: 0px;
    width: 100vw;
}
.navitem {
    color: rgba(255, 255,255,0.7);
    text-decoration: none;
    margin-top: 5px;
}

.navitem:hover {
    color: rgba(255, 255,255,1);

}

.notif {
    margin-top: 2.8rem;
    background: #0071e3;
    text-align: center;
    padding: 0.8rem;
}

#noti {
    color: white;
    text-decoration:none ;
    font-size: 14px;
}

#noti:hover {
    text-decoration:underline ;
}

.shop {
    text-align: center;
    color: rgba(20, 20,20,0.8);
    font-size: 13.5px;
    padding: 1rem;
    background-color: rgba(240, 240,240,0.8);
}

#shop-link {
    color:rgba(0, 100, 255,1);
    text-decoration: none;
}

.bg {
    background-repeat: no-repeat;
    background-position:center;
    height: 617px;
    width: 100vw;
    background-image: url(images/iphone_12_.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iphone12 {
    padding-top: 2.5rem;
    font-size: 3.5rem;
    font-weight: 500;
}

.tagline {
    font-size: 1.6rem;
    font-weight: 400;
}

.price {
    padding-top: 1rem;
    color: grey;
    font-size: 1.05rem;
}

.learnmore {
    padding-top: 1.2rem;
    font-size: 1.2rem;
}

.infolink {
    color:rgba(0, 100, 255,1);
    text-decoration: none;
}

.infolink:hover {
    text-decoration: underline;
}

.bg2 {
    background-color: black;
    background-repeat: no-repeat;
    background-position:bottom;
    height: 600px;
    width: 100%;
    background-image: url(images/iphone_12_pro.jpg);
    text-align: center;
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#iphone12pro {
    color: whitesmoke;
}

#taglinewhite {
    color: whitesmoke;
}

.bg3 {
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 35rem;
    width: 100%;
    background-image: url(images/iPad\ air.jpg);
    text-align: center;
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg4 {
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 35rem;
    width: 48vw;
    background-image: url(images/man.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    clear: left;
    margin-left: 1rem;
}

.bg5 {
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 35rem;
    width: 48vw;
    background-image: url(images/apple\ watch.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    clear: right;
    margin-right: 1rem;
}

.learnmore2 {
    padding-top: 1rem;
    font-size: 1rem;
}

#eq {
    color:whitesmoke;
    font-size: 2.6rem;
    font-weight: 900;
    text-align: center;
    margin-top: 3rem;
}

#quote {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    color:whitesmoke;
}

#watch {
    margin-top: 2.8rem;
    font-size: 2.2rem;
    color:whitesmoke;
    font-weight: 700;
}

#series {
    margin-top: 0.1rem;
    color: #99171F;
}

#introwatch {
    margin-top: 0.6rem;
    font-weight: 500;
    font-size: 1.3rem;
    color:whitesmoke;
}

.bg6 {
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 38rem;
    width: 48vw;
    background-image: url(images/watch\ tile.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    clear: left;
    margin-left: 1rem;
}

#offer {
    margin-top: 2.4rem;
    color: #D07C49;
    font-size: 0.7rem;
}

#watch6 {
    font-size: 2.3rem;
    font-weight: 500;
}

#pricewatch {
    margin-top: 0.4rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.bg7 {
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 35rem;
    width: 48vw;
    background-image: url(images/tile.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    clear: right;
    margin-right: 1rem;
}

#appleone {
    margin-top: 3rem;
    font-size: 2.3rem;
    font-weight: 500;
}

#oneoffer {
    font-size: 1.2rem;
    font-weight: 400;

}

.bg8 {
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 35rem;
    width: 48vw;
    background-image: url(images/music.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    clear: left;
    margin-left: 1rem;
}

#music {
    margin-top: 3rem;
    font-size: 2.6rem;
    font-weight: 500;
    color: #FFCE00;
}

#musicoffer {
    margin-top: 0.6rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #FFCE00;
}

#musicquote {
    margin-top: 0.1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFCE00;
}

.bg9 {
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 35rem;
    width: 48vw;
    background-image: url(images/for_all_mankind.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    clear: right;
    margin-right: 1rem;
}

#tv {
    margin-top: 2.2rem;
    font-size: 2.4rem;
    font-weight: 500;
    color:whitesmoke;
}

.watch-link {
    padding-top: 8.5rem;
}
#watchlink {
    color:whitesmoke;
    text-decoration: none;
}

#watchlink:hover {
    text-decoration: underline;
}

.footer {
    padding-left: 15vw;
    padding-right: 15vw;
    align-items: center;
    color: gray;
    clear: both;
    text-align: justify;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
li{
    padding: 0.4rem;
}

.last-link {
    color:gray;
    text-decoration: none;
}

.last-link:hover {
    color: rgb(107, 107, 107);
    text-decoration: underline;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid rgb(209, 209, 209);
    padding-top: 1rem;
    margin-top: 1rem;
}

.listitem {
    text-decoration: none;
    color: gray;
}

.listitem:hover {
    text-decoration: underline;
}

.listbold {
    color: black;
    font-weight: 600;
}

#lastnote {
    margin-top: 2rem;
    font-size: 0.8rem;
    padding-bottom: 0.6rem;
}

#copyright {
    border-top: 1px solid rgb(209, 209, 209);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1.4rem;
    padding-top: 0.6rem;
}